* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* header */

header div {
    width: 20%;
    margin: 2.5%;
    height: 200px;
    background-color: royalblue;
    float: left;
}

header div:nth-child(1) {
    background-color: greenyellow;
}

header div:nth-child(1):hover {
    background-color: rgb(90, 133, 27);
}

header div:nth-child(2) {
    background-color: skyblue;
}

header div:nth-child(2):hover {
    background-color: rgb(27, 100, 133);
}

header div:nth-child(3) {
    background-color: blueviolet;
}

header div:nth-child(3):hover {
    background-color: rgb(86, 12, 109);
}

header div:nth-child(4) {
    background-color: gold;
}

header div:nth-child(4):hover {
    background-color: rgb(139, 141, 10);
}


/* navigation */

nav {
    background-color: black;
    padding: 10px 0 10px 50px;
    margin: 20px 0;
    /* height: 50px; */
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    width: 25%;
    margin: 0 10px;
}

nav ul li a {
    font-size: 26px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 2px solid white;
    text-transform: uppercase;
    
}

nav ul li a:hover { 
    color: gold;
    border-color: gold;
}

div.wrapper {
    margin-top: 20px;
}

main {
    width: 65%;
    float: left;
    padding: 40px 20px 0 20px;
}

article img {
    width: 200px;
    float: left;
    margin: 20px 20px 20px 0;
}

article h1 {
    text-transform: uppercase;
}

article p {
    margin-top: 20px;
}

aside {
    width: 35%;
    height: 200px;
    background-color: darkgreen;
    float: left;
}

/* footer */

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}